<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <nuget.org>
        <add key="Username" value="svc-edgeuser" />
        <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAqibtPUZWj0eoQHbZg02ulgAAAAACAAAAAAADZgAAwAAAABAAAAB63zsR/efkePo4og70PIlyAAAAAASAAACgAAAAEAAAADrSmqJvB4F2OZdwXG1gY/sQAAAAaUDql4pa1QPASsumCbGtnhQAAAAkIblh+puW6/CLgr7kO8w7PljtyQ==" />
      </nuget.org>
  </packageSourceCredentials>
</configuration>
